<div>
        <a href=""><img src="../../../assets/instagram_internet_media_network_social_icon_123258 (1).png" id="instagram"></a>
        <a href=""><img src="../../../assets/chat_communication_linked_in_media_social_icon_123255.png"
                        id="linkedin"></a>
        <a href=""><img src="../../../assets/chat_communication_media_social_twitter_icon_123256.png"
                        id="twitter"></a>
        <a href=""><img src="../../../assets/facebook_internet_media_network_social_icon_123257.png" id="facebook"></a>
        <a href=""><img src="../../../assets/github_media_social_video_icon_123259.png" id="github"></a>
</div>